/*Home page - Login/Sign Up*/

*{
  font-family:'Overpass',sans-serif;
} 

.html,body{
  margin: 0;
  padding: 0;
  text-align:center;
  min-height:120vh;
  overflow-x: scroll;
  background:linear-gradient(to bottom, rgba(30, 29, 29, 0.799),rgba(89, 101, 209, 0.567) 100%);
  
}


.gymble-logo{
    width:300px;
}
.prim-hbtns{
    padding: 12px 30px;
    color:white;
    border-radius: 30px;
    border: none;
    background:linear-gradient(45deg, rgba(15, 92, 185, 0.84),rgba(41, 30, 30, 0.553));
    text-transform: uppercase;
    font-size: 15px;
    width: 250px;
  }
.prim-hbtns:hover{
  background:linear-gradient(45deg, rgba(41, 30, 30, 0.553),rgba(15, 92, 185, 0.84));
}
.hbtns{
  display: block;
}

.sign-in,.sign-up{
  background-color: white;
  padding-top: 5px;;
  border-radius: 30px;
  margin:40px;
  height: 245px;
  text-align: center;
}

.sign-up{
  height:375px;
}
input {
  font-size: 18px;
}

.submit-btn:hover{
  background:linear-gradient(45deg, rgba(41, 30, 30, 0.553),rgba(15, 92, 185, 0.84));

}
.submit-btn{
  cursor:pointer;
  color: white;
  width:auto;
  height:30px;
  background:linear-gradient(45deg, rgba(15, 92, 185, 0.84),rgba(41, 30, 30, 0.553));
  padding: 0 20px;
}
/*
#signin{
  display: none;
}*/

/*#signup{
  display: none;
}*/

/*css for the alert message if incorrect for login/sign up form*/
.alert-msg{
  background-color: rgb(246, 69, 69);
  border-top: 1px solid rgb(246, 69, 69);
  border-bottom-left-radius:10px;
  border-bottom-left-radius:10px;
  color:white;
  text-align: center;
  transition: 1s;
  position: absolute;
  top:-100%;
  left:50%;
  transform: translateX(-50%);
  min-width:150px;
  max-width:90%;
  width:auto;
  height:auto;
  text-transform:capitalize;
}