/*back button at the top left of the page*/
.backButton{
    display: inline-block;
    height: 60px;
    width: 60px;
    overflow: hidden;
    background: #f3f0ff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    margin-left: 0px;
}

.backButton .icon{
    display: inline-block;
    font-size: 30px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 70px;
}

/* making sure the link doesnt turn purple after it has been clicked*/
a:visited { 
    text-decoration: none; 
    color: #0f63ff; 
}

/*profile Picture*/
img{
    margin-top: 70px;
    width:80%;
    height: 300px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20px;
}

/*white background*/
.main-container{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    height: 1000px;
    margin: auto;
}

/*headings*/
h1{
    margin-left:auto;
    font-size: 20px;
    color: black;
    text-align: center;
}

h2{
    color:#404040;
    font-size: 15px;
    text-align: center;
}

p{
    text-align: center;
    margin: 30px;
}

.profilePic{
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    width: 400px;
    margin-left: 180px;
}